body {
   background: #fff;
}


header {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 70px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
}
.container {
    width: 1352px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 142px;
    height: 37px;
    margin-left: 10%;
    text-align: left;
    font: normal normal 300 32px/37px Raleway;
    letter-spacing: 0px;
    color: #08A6E4;
    opacity: 1;
    text-decoration-line: none;

}

ul {
    list-style: none;
    display: flex;
}

.alinks {
    top: 28px;
    left: 1101px;
    width: 74px;
    height: 15px;
    text-align: center;
    font: normal normal bold 11px/15px Open Sans;
    letter-spacing: 3.28px;
    color: #A5A5A5;
    opacity: 1;
    text-decoration-line: none;
    padding: 20px;

}

.alinks:active {
    top: 68px;
    left: 934px;
    width: 84px;
    height: 0px;
    border: 4px solid #08A6E4;
    opacity: 1;
}

.alinks:hover {
    color: #000;
    border: 4px solid;
    border-top-color: #fff;
    border-bottom-color: #08A6E4;
    border-left-color: #fff;
    border-right-color: #fff;
    opacity: 1;
}

.container__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh + 100px);
    margin-top: 0px;

}

h1 {
    text-align: center;
    font: normal normal normal 49px/57px Raleway;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin-top: 100px;
}

.p__main {
    text-align: center;
    font: normal normal normal 16px/22px Open Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.btn__main {
    background: #08A6E4 0% 0% no-repeat padding-box;
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 40px;
    border-bottom: none;
    border-right: none;
    opacity: 1;
    width: 400px;
    height: 60px;
    text-align: center;
    font: normal normal bold 16px/22px Open Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    padding: 10px;
    cursor: pointer;
}

.p__btn_main {
    text-align: center;
    font: normal normal bold 16px/22px Open Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    padding: 10px;
}

img {

}

.img__main {
    background-image: url("../images/Background.png");
    background-position: 0 0 -200px 0;
    background-repeat: no-repeat;
    height: 594px;
    width: 100%;
}

#statistics {
    height: 912px;
    background: #eee;
    width: 100vw;

}

h2 { text-align: center;
    font: normal normal normal 36px/42px Raleway;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 100px;
}

.statistics__circles {
       list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;

}

.circle1 {
    background: #FB3B64 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 63px;
    height: 63px;
    border-radius: 50%;
    margin: 50px;
}

.circle2 {
    background: #08A6E4 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 63px;
    height: 63px;
    border-radius: 50%;
    margin: 50px;
}

.circle3 {
    background: #55DFB4 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 63px;
    height: 63px;
    border-radius: 50%;
    margin: 50px;
}

.statistics__icon1 {
    width: 44px;
    height: 52px;
    background-image: url("images/person.svg");
    position: absolute;
    margin: 0 20px;
}

.statistics__icon2 {
    width: 44px;
    height: 52px;
    background-image: url("images/person.svg");
    position: absolute;
    margin: 0 20px;
}

.statistics__icon3 {
    width: 44px;
    height: 52px;
    background-image: url("images/person.svg");
    position: absolute;
    margin: 0 20px;
}


.static__values {
    text-align: center;
    font: normal normal 800 20px/24px Raleway;
    letter-spacing: 6px;
    color: #000000;
    opacity: 1;
}

.static__description {
    text-align: center;
    font: normal normal normal 16px/19px Raleway;
    letter-spacing: 0px;
    color: #A5A5A5;
    opacity: 1;
}

.container__statistics {
    display: flex;
    justify-content: center;

}

.benefits__section {
    background: #F7F7F7 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 1352px;
    max-width: 1352px;
    padding: 100px;
}

.benefits__container
{
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    margin-top : 100px;

}

.benefits__container__row1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;


}

.benefits_content_merge {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 500px;
}

h3 {
    text-align: left;
    font: normal normal normal 36px/42px Raleway;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

p {
    text-align: left;
    font: normal normal normal 16px/22px Open Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}


.benefits__line1 {
    width: 328px;
    height: 0px;
    border: 4px solid #FB3B64;
    opacity: 1;
}
.benefits__line2 {
    width: 328px;
    height: 0px;
    border: 4px solid #08A6E4;
    opacity: 1;
}
.benefits__line3 {
    width: 328px;
    height: 0px;
    border: 4px solid #55DFB4;
    opacity: 1;
}

.benefits_content_merge2 {
 position: relative;
    padding: 50px;
}

.benefits_content_image2 {
    width: 170px;
    height: 170px;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    background: #FB3B64 0% 0% no-repeat padding-box;
    border-radius: 41px;
    opacity: 1;
    position: absolute;
    right: 50px;
    top: 0px;
    z-index: 1;

}


.benefits_content_image1 {
    position: relative;

    left: 0px;
    top: 0px;
    z-index: 2;
}

.benefits_content_image3 {
    width: 320px;
    height: 320px;
    background: #07ACE6 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 50%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;

}

.benefits__container_2
{   width: 1352px;
    display: flex;
    justify-content: center;

}

.benefits__container__row3 {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-right: 50px;
    width: calc(1352px - 340px);


}

.benefits_container_row3__a {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: revert;
    align-items: flex-start;
    padding: 50px;
    height: calc(370px - 100px);
    width: 70%;

}

.benefits_container_row3__b {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 440px;
    height: 370px;
    background: #55DFB4 0% 0% no-repeat padding-box;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    opacity: 1;
    margin-top: 50px;
    margin-left: 50px;
}


.prices_h3 {
    text-align: center;
    font: normal normal normal 36px/42px Raleway;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin-top: 150px;

}

.prices__container {
    width: 1352px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.prices__container-options {
    padding-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 170px;
}

.prices__option_1 {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #FB3B64;
    border-radius: 18px;
    opacity: 1;
    padding: 0px;
    position: relative;
    width: 25%;

}



.prices__option_2 {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 5px 10px 27px #07ACE629;
    border: 1px solid #07ACE6;
    border-radius: 18px;
    opacity: 1;
    position: relative;
    width: 25%;
    padding: 50px;

}

.prices__option_3 {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #55DFB4;
    border-radius: 18px;
    opacity: 1;
    padding: 20px;
    position: relative;
    width: 25%;

}

.prices_options-text {
    display: flex;
    justify-content: center;
    align-items: center;

}

.small_icon_green{
    background-image: url("../images/checkmark.svg");
    background-size: cover;
    background-position: center;
    border: 1px solid #55DFB4;
    border-radius: 2px;
    opacity: 1;
    width: 11px;
    height: 11px;


}

.small_icon_red{
    width: 11px;
    height: 11px;
    text-align: center;
    font: normal normal bold 9px/10px Raleway;
    letter-spacing: 0px;
    color: #EB476E;
    opacity: 1;
}

.btn_prices_1 {
    position: absolute;
    left: 30%;
    right: 0%;
    width: 150px;
    height: 50px;
    background: #EB476E 0% 0% no-repeat padding-box;
    border-radius: 23px;
    opacity: 1;
    text-align: center;
    font: normal normal bold 13px/41px Open Sans;
    color: #FFFFFF;
    opacity: 1;
}

.btn_prices_1-2 {
    background-color: #07ACE6;
}

.btn_prices_1-3 {
    background-color: #55DFB4;
}

.btn_text_prices {

}

.prices_option_type {
    text-align: center;
    font: normal normal bold 20px/1px Raleway;
    letter-spacing: 0px;
    color: #13253B;
    opacity: 1;
}

.prices_option_cost {
    text-align: center;
    font: normal normal 300 46px/2px Open Sans;
    letter-spacing: 0px;
    color: #FB3B64;
    opacity: 1;
    padding-bottom: 20px;
}

.pro {
    color: #07ACE6;

}

.pre {
    color: #55DFB4;
}

.prices_option_limited {
    text-align: center;
    font: normal normal bold 12px/1px Raleway;
    letter-spacing: 0px;
    color: #13253B;
    opacity: 1;
}

.prices_option_normal-text-container{
    padding-top: 30px;
}

.prices_option_normal-text::before{
    width: 7px;
    height: 7px;
    content: "\2713";
    font-size: 7px;
    padding: 1.5px;
    color: #55DFB4;
    margin-right: 5px;
    border: 1px solid #55DFB4;
    border-radius: 2px;
    opacity: 1;

}

.prices_option_normal-text-red::before{
    content: "x";
    width: 11px;
    height: 10px;
    text-align: center;
    font: normal normal bold 9px/10px Raleway;
    letter-spacing: 0px;
    color: #EB476E;
    opacity: 1;
    font-size: 7px;
    padding: 1.5px;
    border: 1px solid #EB476E;
    border-radius: 2px;
}

.prices_option_normal-text-red {

}

.prices_option_normal-text {
    text-align: center;
    font: normal normal normal 14px/41px Open Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin-left: 5px;
}

footer {
    background: #F7F7F7 0% 0% no-repeat padding-box;
    box-shadow: 0px -5px 40px #00000029;
    opacity: 1;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.footer_left {
 padding: 20px;
    margin-left: 100px;

}

.footer__logo
{
    text-align: left;
    font: normal normal 300 26px/30px Raleway;
    letter-spacing: 0px;
    color: #08A6E4;
    opacity: 1;

}


.footer__logo-text {
    text-align: left;
    font: normal normal normal 11px/15px Open Sans;
    letter-spacing: 0px;
    color: #A5A5A5;
    opacity: 1;
}

.footer__text_fav_icons {

}